body {
    font-family:Helvetica;
}

header {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h1.brushes {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
   
}

h1.frames {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;

}

h1.paint {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;

}
 
 span.blue {
     font-weight:bold;
     color:blue;

 }

