:root {
    --main-accent-color: rgb(247, 78, 78);
    --main-accent-color-muted: rgb(168, 0, 0);
    --main-highlight-color: rgb(255, 158, 158);
}


body {
    margin: 0;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    font-family: monospace;
    line-height: 1.5em;
}

    div {
        background-color: rgb(0, 0, 0);
        margin: 20px;
        padding: 20px;
        position: fixed;
        bottom: 5px;

        }